<div class="prolo-codeblock prolo-codepython">
    Écris ton code ici :
    <div class="prolo-codeblock-input-box" style="color: white; display: block">
        <textarea class="prolo-codeblock-input" cols="90" rows="5">
            {{- .Inner -}}
        </textarea>
        <button class="prolo-codeblock-run-btn" type="button">Run</button>
    </div>
    Le résultat :
    <div class="prolo-codeblock-result">
        <pre class="prolo-codepython-output"></pre>
        <pre class="prolo-codepython-canvas"></pre>
    </div>
</div>
