<div class="prolo-codeblock prolo-codehtml">
    {{ markdownify "Appuie sur le bouton `Run` pour exécuter le code HTML ci-dessous" }}
    <div class="prolo-codeblock-input-box" style="color: white; display: block">
        <textarea class="prolo-codeblock-input" cols="90" rows="5">
            {{- .Inner -}}
        </textarea>
        <button class="prolo-codeblock-run-btn" type="button">Run</button>
    </div>
    Le résultat :
    <iframe
        class="prolo-codeblock-result"
    ></iframe>
</div>
