<div class="prolo-codeblock prolo-codehtml">
    Écris ton code ici :
    <div class="prolo-codeblock-input-box" style="color: white; display: block">
        <textarea class="prolo-codeblock-input" cols="90" rows="5">
{{ .Inner}}</textarea
        >
        <button class="prolo-codeblock-run-btn" type="button">Run</button>
        Le résultat :
        <br />
    </div>
    <iframe
        class="prolo-codeblock-result"
        style="background-color: white; width: 95%; height: 250px"
    ></iframe>
</div>
