{{ define "main" }}

{{/* Do not show the page header if its content is the site title */}}
{{ if not (eq .Site.Title .Title) }}
<header class="home-title-box">
    <h1 class="page-header-title"> {{ .Title }}</h1>
    <p class="page-header-subtitle">
    {{ .Params.subtitle }}
    </p>
</header>

{{/* Increase the size of the site header */}}
{{ else }}
<style>
header.site-header {
    font-size: 2.8vw;
    padding-top: 0;
    padding-bottom: 0;
}

.header-home-menu ul {
    font-size: 1.1vw;
}
</style>
{{ end }}

<div class="container">
    <ul class="article-list">
        {{ range (where .Pages "Params.hidden" "ne" "true").ByTitle.ByWeight }}
        {{ if .Params.Tags }}
        <li onclick="location.href = {{ .RelPermalink }}" class="article-item article-tagged-item">
        {{ else }}
        <li onclick="location.href = {{ .RelPermalink }}" class="article-item">
        {{ end }}
            <h2>{{ .Title }}</h2>
            {{ if .Params.Tags }}
                <ul class="tag-list">
                    {{ range .Params.tags }}
                    <li class="tag-item {{ urlize . }}">
                        <a href="/tags/{{ urlize . }}">{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
