{{ define "title" }} {{ .Site.Title }} | {{ .Title }} {{ end }} {{ define "main" }}
<div class="article-title-box">
    <h1 class="article-title">{{ .Title | markdownify }}</h1>
    {{- with .Params.Description -}}
    <p class="article-subtitle">{{ . | markdownify}}</p>
    {{- end -}}
    {{ if isset .Params "code_stub_url" }}
    <a href="{{ .Params.code_stub_url }}" class="code-stub-button" download
        >Code à compléter</a
    >
    {{ end }}
</div>

<div id="article-container">
    {{ if (eq $.Params.toc "true") }}
    <aside class="toc">
        <div class="toc-title">Table des matières</div>
        {{ .TableOfContents }}
    </aside>
    {{ end }}
    <article class="container">
        {{ .Content }}
        {{ with .Params.summary }}
        <h1>Pour résumer</h1>
        <div class="article-summary">
            {{ . | markdownify }}
        </div>
        {{ end }}
        <a id="go-back-button" onclick="setupConfettis();" href='{{ ref .Page "/" }}'>Retour au Menu</a>
    </article>
</div>

<div id="imgzoom"></div>

{{- partial "footer_post.html" . -}}

{{ end }}
