{{ define "title" }} {{ .Site.Title }} | {{ .Title }} {{ end }} {{ define "main"
}}
<!-- Imports for Codemirror. Must be before initializing codeblocks -->
<script src="/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/python.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/xml.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/css.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/htmlmixed.js"></script>

<div class="article-title-box">
    <h1 class="article-title">{{ .Title }}</h1>
    {{- with .Params.subtitle -}}
    <p class="article-subtitle">{{ . }}</p>
    {{- end -}}
    {{ if isset .Params "code_stub_url" }}
    <a href="{{ .Params.code_stub_url }}" class="code-stub-button" download
        >Code à compléter</a
    >
    {{ end }}
</div>

<div id="article-container">
    <aside class="toc">
        <div class="toc-title">Table des matières</div>
        {{ .TableOfContents }}
    </aside>
    <article class="container">{{ .Content }}</article>
</div>

<div id="imgzoom"></div>
{{ end }}
