<!-- Imports for Codemirror. Must be before initializing codeblocks -->
<script type="text/javascript" src="/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/python.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/xml.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/css.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/htmlmixed.js"></script>

<!-- The following script must be called after codemirror scripts -->
<script type="text/javascript" src="/js/codeblocks.js"></script>

<script type="text/javascript" src="/js/skulpt.min.js"></script>
<script type="text/javascript" src="/js/skulpt-stdlib.js"></script>

<script type="text/javascript" src="/js/spoiler.js"></script>
<script type="text/javascript" src="/js/codestep.js"></script>

<script type="text/javascript" src="/js/confetti.js"></script>
<script type="text/javascript" src="/js/copy_button.js"></script>
<script type="text/javascript" src="/js/zoom_images.js"></script>
