<!-- Include codeblock.js before index.js to initialize all codeblocks
     before the multiple section subjects are split into separate pages -->
<script src="/js/codeblocks.js" type="text/javascript"></script>

<script src="/js/index.js"></script>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/skulpt.min.js" type="text/javascript"></script>
<script src="/js/skulpt-stdlib.js" type="text/javascript"></script>
<script src="/js/lunr.min.js" type="text/javascript"></script>

<!-- Handle the JS side of spoilers -->
<script src="/js/spoiler.js" type="text/javascript"></script>

<script src="/js/section_break.js" type="text/javascript"></script>

<!-- Handle codestep blocks -->
<script src="/js/codestep.js" type="text/javascript"></script>

{{- partial "personalized_menu_colors.html" . -}}
<script src="/js/search.js" type="text/javascript"></script>
