<head>
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href='{{ "css/main.css" | absURL }}'>
    <link type="text/css" rel="stylesheet" href='{{ "css/codeblocks.css" | absURL }}'>
    {{- partial "favicon.html" . -}}
    <link rel="canonical" href="{{ .Permalink }}">
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="/js/tex-svg.js">
    </script>
    <link rel="stylesheet" href="/css/codemirror/codemirror.css">
    <link rel="stylesheet" href="/css/codemirror/theme/monokai.css">

    <!-- Spoilers stylesheet -->
    <link rel="stylesheet" href='{{ "css/spoiler.css" | absURL }}'>
    <!-- Video stylesheet -->
    <link rel="stylesheet" href='{{ "css/video.css" | absURL }}'>

    <!-- Highlighting boxes -->
    <link rel="stylesheet" href='{{ "css/highlight_boxes.css" | absURL }}'>
</head>
