<style>
/* Change the primary color */
{{ with .Site.Params.Style.primaryColor }}
:root {
    --primary-color: {{ . }};
}
{{ end }}

{{ with .Site.Params.Style.secondaryColor }}
:root {
    --secondary-color: {{ . }};
}
{{ end }}

{{ with .Site.Params.Style.headerFont }}
h1.site-title {
    font-family: {{ . }};
}
{{ end }}

/* Set a personalized color for the used tags if set in the config file */
{{ range $name, $tag := .Site.Taxonomies.tags }}

{{ range $key, $value := (site).Params.Tags }}
{{ if eq (urlize $key) $name }}
.tag-item.{{ $name }} {
    background-color: {{ $value }};
    border-color: color-mix(in srgb, {{ $value }} 80%, black);
}
{{ end }}
{{ end }}
{{ end }}
</style>
