<div class="codestep" data-max-step={{ .Get "steps" }} data-step=0>
<div class="codestep-code">
<div class="codestep-arrow codestep-prev-button">
    <svg width="24px" height="24px" viewBox="0 0 80 80" xml:space="preserve">
        <polyline
            fill="#ffffff" stroke="#ffffff" stroke-width="10"
            stroke-linecap="round" stroke-linejoin="round"
            points="55,75 20,40 55,5 55,75"
        />
    </svg>
</div>

{{- .Scratch.Set "id" 0 -}}
{{- .Scratch.Set "lineOff" 1 -}}
<pre class="codestep-pre">
    <div class="codestep-content {{ .Get "lang" }}">
    {{- .Inner -}}
    </div>
</pre>

<div class="codestep-arrow codestep-next-button">
    <svg width="24px" height="34px" viewBox="0 0 80 80" xml:space="preserve">
        <polyline
            fill="#ffffff" stroke="#ffffff" stroke-width="10"
            stroke-linecap="round" stroke-linejoin="round"
            points="25,75 60,40 25,5 25,75"
        />
    </svg>
</div>
</div>

{{ range $i, $desc := (.Scratch.Get "descs")}}
<div class="codestep-desc">
    {{ $desc | markdownify }}
</div>
{{ end }}

</div>
